#con{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
#logo{
    margin-top:20px;
    margin-left:20px;
}
#contain{
    min-height:750;
    width: 100%;
    top: 24px;
    bottom: 24px;
}